{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "semi": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "tabWidth": 4,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}