---
import { cn } from "../../utils/cn";
import { items } from "./constants";

const pathname = Astro.url.pathname;
const isInSecondGroup = items[1].some(item => item.href === pathname);
---

<ul class="flex items-center text-[var(--color-ocean)] font-medium">
    {
        items[0].map(({ title, href }) => (
            <li class={cn("link link-hover underline-offset-4 rounded-sm  p-2", href === pathname && "bg-[var(--color-ocean)] underline text-white")}>
                <a href={href}>
                    {title}
                </a>
            </li>
        ))
    }
    <li class="group relative p-2">
        <div>
            <p class={cn(isInSecondGroup && "bg-[var(--color-ocean)] rounded-sm text-white", "underline-offset-4  p-2")}>
                More</p>
        </div>
        <div
            class="absolute top-4 right-0 scale-0 group-hover:scale-100 transition-all ease-in-out duration-300">
            <div class="flex flex-col items-start justify-center  w-48  border rounded-md p-2 relative top-10">
                {
                    items[1].map(({ title, href }) => (
                        <a href={href}
                           class={cn("link link-hover rounded-sm w-full underline-offset-4 p-2", href === pathname && "bg-[var(--color-ocean)] underline  text-white")}>
                            <p>
                                {title}
                            </p>
                        </a>
                    ))
                }
            </div>
        </div>
    </li>
</ul>
