---
import { cn } from "../../utils/cn";
const items: { title: string; href: string; }[] = [
    { title: "Home", href: "/" },
    { title: "About", href: "/about" },
    { title: "Exam Emergency", href: "/exam-emergency" },
    { title: "Notification", href: "/notification" },
    { title: "Scouts", href: "/scouts" },
    { title: "Events", href: "/events" },
    { title: "Contact", href: "/contact" }];

const pathname = Astro.url.pathname;
---

<ul class="flex gap-x-2">
    {
        items.map(({ href, title }) => (
            <li class={cn("p-2  hover:bg-slate-100 transform skew-x-[-20deg] font-medium text-slate-600", pathname === href && "bg-[var(--color-ocean)] text-slate-100 ")}>
                <a href={href}>{title}</a>
            </li>
        ))
    }

</ul>