---
import Layout from "./Layout.astro";
import Navbar from "../components/navbar/Navbar.astro";
---
<Layout>
    <div class="min-h-screen flex flex-col ">
        <div class=" p-2 shadow-md">
            <div class="max-w-7xl mx-auto flex justify-between w-full">
                <header>
                    <p>Header</p>
                </header>
                <Navbar />
            </div>
        </div>
        <main class="flex-1">
            <slot />
        </main>
        <footer>
            <p>Footer</p>
        </footer>
    </div>
</Layout>