---
import Layout from "./Layout.astro";
import Navbar from "../components/navbar/Navbar.astro";
---
<Layout>
    <div class="min-h-screen flex flex-col ">
        <div class="p-2">
            <div class="max-w-7xl mx-auto flex justify-between w-full items-center">
                <header class="p-2">
                    <a href="/">
                        <img src="/Logo.png" alt="Logo PNG" class="size-12" />
                    </a>
                </header>
                <Navbar />
            </div>
        </div>
        <main class="flex-1">
            <slot />
        </main>
        <footer>
            <p>Footer</p>
        </footer>
    </div>
</Layout>